.bloco1 {
  background-color: red;
  color: greenyellow;
  margin: 10px;
  padding: 10px;
}
.bloco2 {
  background-color: blue;
  color: white;
  margin: 10px;
  padding: 10px;
}
.bloco3 {
  background-color: yellow;
  color: darkblue;
  margin: 10px;
  padding: 10px;
}
.bloco4 {
  background-color: pink;
  color: black;
  margin: 10px;
  padding: 10px;
}
.cor-fundo {
  background-color: green;
  color: white;
  text-align: center;
}
.cor-fundoA {
  background-color: rgb(0, 119, 255);
  color: white;
  text-align: center;
}
.cor-borda {
  border-color: black;
  border-style: solid;
}

  